<footer>
    <div class="navbar navbar-dark bg-dark">
        <div class="container-md">
            <p class="navbar-text">Blog de Viajes - Comparte tu experiencia - ®️Derechos Reservados</p>
        </div>
    </div>
</footer>